@font-face {
    font-family: DeliciousRoman;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}

body{
	margin:0px;
	padding:0px;
	font-family:arial;
}

#fc-wrap {
	width: 1024px;
	
}

#fc-wrap .fc-content {
	width: 100%;
	height: 100%;
	background-color:#14181b;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#14181b, endColorstr=#232428);
	background-image:-moz-linear-gradient(top, #14181b 0%, #232428 25%,#303133 50%,#1a1e21 100%);
	background-image:linear-gradient(top, #14181b 0%, #232428 25%,#303133 50%,#1a1e21 100%);
	background-image:-webkit-linear-gradient(top, #14181b 0%, #232428 25%,#303133 50%,#1a1e21 100%);
	background-image:-o-linear-gradient(top, #14181b 0%, #232428 25%,#303133 50%,#1a1e21 100%);
	background-image:-ms-linear-gradient(top, #14181b 0%, #232428 25%,#303133 50%,#1a1e21 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#14181b), color-stop(25%,#232428),color-stop(50%,#303133),color-stop(100%,#1a1e21));
	margin: 0px auto;
}

#fc-wrap .fc-content h1{
	color:#eee;
	font-size:28px;
	line-height:30px;
	font-family:arial;
}

#fc-wrap .fc-content p{
	color:#eee;
	font-size:28px;
	line-height:30px;
	font-family:arial;
}


#fc-wrap .fc-content .header{
	padding: 0px 0px 0px 257px;
}

#fc-wrap .fc-content .still-video{
	width: 100%;
	height: 100%;
	border:1px solid #ff9900;
}


	
#slider2 { height: 1%; overflow:hidden; position: relative; padding: 0 0 10px;   }
#slider2 .viewport { float: left; width: 780px; height: 125px; overflow: hidden; position: relative; }
#slider2 .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider2 .next { background-position: 0 0; margin: 30px 0 0 10px; }
#slider2 .disable { visibility: hidden; }
#slider2 .overview { list-style: none; position: absolute; width: 240px; left: 0 top: 0; }
#slider2 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}


